<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Add New Author</title>
  </head>
  <body>
    <%- include('navbar') %>
    <h2>Add a Book to Inventory</h2>
    <div class="form-div">
      <form action="/add-author" method="POST" class="book-form">
        <label for="author-forename">Author Forename</label>
        <input type="text" id="author-forename" name="forename" required />
        <label for="author-surname">Author Surname</label>
        <input type="text" id="author-surname" name="surname" required />
        <button type="submit">Add author to database</button>
      </form>
    </div>
  </body>
</html>
