.header {
  height: 100px;
  background-color: rgb(107, 107, 174);
  display: flex;
  align-items: center; /* Vertically centers items */
  padding: 0 1rem; /* Adds padding to the sides */
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
}

.header h2,
.header span {
  margin: 0; /* Remove default margin */
}

svg {
  height: 50px;
}

/* BOOKLIST */
.cover-image {
  height: 100px;
  width: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
thead {
  background-color: slateblue;
  color: white;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #e8f5e9;
  transition: background-color 0.3s ease;
}
td:nth-child(6) {
  font-weight: bold;
}
td:nth-child(6):contains("true") {
  color: green;
}
td:nth-child(6):contains("false") {
  color: red;
}
